body {
    margin: 0; /* Remove default margin */
    padding: 20px; /* Add padding around the body */
    font-family: 'Arial', sans-serif; /* Update to your chosen font */
    background-color: #f8f8f8; /* Optional: Set a background color */
}

header {
    padding: 20px; /* Add padding within the header */
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

header nav ul li {
    display: inline;
    margin-right: 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    text-decoration: underline;
}

/* Style the main intro section */
.intro {
    padding: 50px 0;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.intro h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

.int
